@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{ 
  box-sizing:content-box;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-countdown {
  font-size: 112px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(63deg, #EEF1F0 7.18%, #71757E 83.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 .text-title {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
